<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script>
      let searchTuple = [null, null];
      for (const [key, value] of (new URLSearchParams(window.location.search)).entries()) {
        switch(key) {
          case "account":
          case "payee":
          case "date":
            // TODO unescape
            searchTuple = [key, value];
            break;
          default:
            console.error(`Unknown query param key "${key}"!`);
            break;
        }
      }

      document.addEventListener('DOMContentLoaded', function() {
        if (searchTuple[0] != null) {
          _applySearch();
        }
      });

      function _applySearch() {
        function elementMatchesPattern(element, pattern) {
          return (element.textContent || element.innerText).trim() == pattern;
        }

        const transactionContainer = document.getElementById("transaction-container");
        const rows = Array.from(transactionContainer.querySelectorAll(".transaction-row"));

        for (row of rows) {
          const fields = Array.from(row.getElementsByTagName("td"));
          let visible = false;
          switch (searchTuple[0]) {
            case "date":
              visible = elementMatchesPattern(fields[0], searchTuple[1]);
              console.log("date", visible);
              break;
            case "account":
              visible = elementMatchesPattern(fields[1], searchTuple[1]);
              console.log("account", visible);
              break;
            case "payee":
              visible = elementMatchesPattern(fields[2], searchTuple[1]);
              console.log("payee", visible);
              break;
            case "amount":
              // TODO cast to Number and get absolute...
              visible = elementMatchesPattern(fields[3], searchTuple[1]);
              console.log("amount", visible);
              break;
            case "*":
              const textValues = fields.reduce(function(acc, cur) {
                acc.push(cur.textContent || cur.innerText);
                return acc;
              }, []);

              visible = textValues.reduce(
                (acc, cur) => acc || (cur.toUpperCase().indexOf(searchTuple[1]) > -1),
                false,
              );

              console.log("null", visible);
              break;
            default:
              throw `Unreachable? ${searchTuple}`;
              break;
          }
          if (visible) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        }
      }

      function _searchHandler() {
        console.log("Func-ing!");

        const input = document.getElementById('searchBar');
        const filter = input.value.toUpperCase();

        searchTuple = ["*", filter];

        _applySearch();
      }

      function searchHandler() {
        try {
          _searchHandler();
        } catch (err) {
          const errorPane = document.getElementById("errorPane");
          errorPane.style.display = "block";
          errorPane.innerHTML = err.toString();
          console.error(err);
        }
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <nav>
          <ul>
            <li><hgroup><strong>&#x2B24; Pea Finance</strong><p>Personal finance for peas</p></hgroup><li>
          </ul>
          <ul>
            <li><a href="/#" class="button">Clear Search</a></li>
            <li><button>Save</button></li>
          </ul>
        </nav>
      </header>
      <main>
        <article id="errorPane" style="display: none;"></article>
        <form role="search">
          <fieldset role="group">
            <input type="text" id="searchBar" onkeyup="searchHandler()" placeholder="Search...">
            <label><input type="checkbox" role="switch" />Foo</label>
          </fieldset>
        </form>

        <table id="transaction-container" class="striped">
          <thead>
            <tr>
              <th style="min-width: 9em;">Date</th>
              <th>Account</th>
              <th>Payee</th>
              <th>Amount</th>
              <th style="min-width: 10em;">Category</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Transactions }}
            <tr class="transaction-row">
              <td><a href="/?date={{"2006-01-02" | .Date.Format}}">{{ "2006-01-02" | .Date.Format }}</a></td>
              <td><a href="/?account={{.Account}}">{{.Account}}</a></td>
              <td><a href="/?payee={{.Payee}}">{{.Payee}}</a></td>
              <td>{{.Amount}}</td>
              <td><select class="select" required>
                {{ with $categoryString := .Category.ToString }}
                  <!-- <option selected disabled value="">Category</option> -->
                  {{ range $.Categories }}
                    {{ if (eq $categoryString .) }}
                      <option selected>{{ . }}</option>
                    {{ else }}
                    <option>{{ . }}</option>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </select></td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
